.header__container {
    max-width: 940px;
}

h1 {
    color: #69b9ff;
    padding-top: 10px;
}

.header__navigation-links {
	list-style:none;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;

}


.header__navigation-links  li {
    flex: 1;
}

.header__navigation-links  li:hover {
    color: #2e9dff;
}

.header__navigation-links a {
    text-align: center;
    color: #676770;
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    
}