.card__container {
    max-width: 350px;
    max-height: 350px; 
    padding: 30px;
}

.fa-users-line {
transform: scale(3);

}

.card__icon-container {
    margin: 0 auto;
}

.card__body {
    margin-top: 30px;
    text-align: center;
}